{% extends "base.html" %}

<!-- 
{% block announce %}
   <h3> YO SOY UN ANUNCIO</h3>
{% endblock %}
 -->



{% block footer %}

<style>

   h3{
      color: blue;
      background-color: black;
   }

</style>

<h4> Inicio del footer</a></h3>
<h3> YO SOY UN <a href="#">FOOTER</a></h3>
{{ super() }}
<h3> Final del footer</h3>
{% endblock %}


<!-- 
{% block hero %}
{{ super() }}
   <h3> YO SOY UN HERO</h3>
{% endblock %} 

{% block htmltitle %}
{{ super() }}
   <h3> YO SOY EL HTMLTITLE</h3>
{% endblock %}  
-->



<!-- 
{% block header %}
{{ super() }}
   <h3> YO SOY EL HEADER</h3>
{% endblock %} 

{% block container %}
<style>
   h3{
      color: blue;
      background-color: black;
   }
</style>
{{ super() }}
   <h3> YO SOY EL CONTAINER</h3>
{% endblock %} 
 -->





