site_name: PythonDocs


theme:
  name: material
  # name: mkdocs
  # name: readthedocs

  # logo: assets/image.png
  # favicon: assets/image.png
  highlightjs: true
  hljs_languages:
    - yaml
    - rust
    # - python
    # - bash
  language: en
  # Modos para la pagina
  palette:
  
    # Modo automatico 
    # - media: "(prefers-color-scheme)"
    #   toggle:
    #     icon: material/brightness-auto
    #     name: Switch to light mode
    # Modo claro
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Cambia al modo oscuro
      primary: indigo
      # primary: custom
      accent: purple
    # Modo oscuro
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Cambia al modo claro
      primary: indigo
      # primary: custom
      accent: lime
  icon:
    annotation: material/arrow-right-circle
  features:
    - header.autohide
    - navigation.footer
    # - navigation.instant
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - search
    - search.suggest
    - search.highlight
    # - search.share
    # - search:
    #   lang: es

repo_url: https://github.com/MarceloMarot/PythonDocs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html

  - pymdownx.tasklist:
      custom_checkbox: true







extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets\extra.css

# extra:
#   version:
#     provider: mike
# extra:
#   consent:
#     actions:
#       - accept
#       - manage

# plugins:
#   - meta

nav:
  - Indice: index.md
  - Basicos:
    - Comenzando con Python: contenido/1-comenzando.md
    - Variables y Asignaciones: contenido/2-variables_asignaciones.md
    - Expresiones y Operadores: contenido/3-expresiones_operadores.md
    - Tipos de Datos: contenido/4-tipos_datos.md
    - Control de Flujo: contenido/5-control_flujo.md
    - Funciones: contenido/6-funciones.md
    - M칩dulos y Paquetes: contenido/7-modulos-paquetes.md
    - Entorno virtual - m칩dulo VENV: contenido/8-entorno_virtual.md
    - Fechas y Horario: contenido/9-fechas.md
    - Manejo de Archivos: contenido/10-manejo_archivos.md
    - Errores y Excepciones: contenido/11-excepciones.md
    - Clases: contenido/12-clases.md
    - Clases II - Decoradores y Abstracciones: contenido/13-decoradores_abstracciones.md
    - Clases III - Principios SOLID: contenido/14-SOLID.md
    - Programacion Funcional: contenido/15-programacion_funcional.md
    - Expresiones Regulares (RegEx): contenido/16-regex.md
    - Sistema Operativo - Modulo OS: contenido/sistema_operativo.md
    - Archivos Temporales- M칩dulo Tempfile: contenido/archivos_temporales.md
    - Enlaces: contenido/enlaces.md
  - Modulos: 
    - Pathlib - manejo de rutas : modulos/pathlib.md
    - Sys - Par치metros y funciones del sistema: modulos/sys.md
  - Paquetes:
    - Traducciones - python-i18n : paquetes/python-i18n.md
    - Psutil - Monitoreo del sistema: paquetes/psutil.md
    - Numba - Optimizacion con Machine Learning: paquetes/numba.md
    - FFMPEG-Python: paquetes/ffmpeg.md
  # - Test: test.md




