# codigo objeto de Python (CPython)
__pycache__/

# carpeta del control de versiones Git
.git/

# cachés de recursos remotos
.cache

# carpetas de entornos virtuales
venv/
.venv/

# archivos con variables de entorno
.env
*.env

# archivos de documentación Markdown
*.md

